@font-face {
  font-family: "PlusJakartaSans";
  src: url("public/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("public/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  font-family: "PlusJakartaSans", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  --font-weight: 500;
  font-weight: var(--font-weight);

  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --color-light: #f0f0f0;
  --color-light-dim: #9e9e9e;
  --color-dark-dim: #383838;
  --color-dark: #1e1e1e;
  color-scheme: dark;
  color: var(--color-light);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

h1,
h2 {
  font-weight: var(--font-weight);
}

p {
  white-space: pre;
}

.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.icon {
  height: 1.2em;
  width: 1.2em;
  margin: 0 3px;
  fill: var(--color-light-dim);
}

.icon > svg {
  height: inherit;
  width: inherit;
  fill: inherit;
}

/* Nav Bar Styling */

header {
  height: 45px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: var(--color-dark);
  box-shadow: var(--box-shadow);
  border-bottom: thin solid var(--color-dark-dim);
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > menu {
  display: flex;
  list-style: none;
  gap: 13px;
  padding: 0 13px;
}

nav a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var(--color-light-dim);
}

nav a:hover,
nav a:hover svg,
[aria-current="page"],
[aria-current="page"] svg {
  color: var(--color-light);
  fill: var(--color-light);
}

/* Media Bar Styling */

footer {
  position: relative;
  z-index: 1;
  display: flex;
  height: 45px;
  width: 100%;
  background-color: var(--color-dark);
  box-shadow: var(--box-shadow);
  border-top: thin solid var(--color-dark-dim);
}

#now-playing-image {
  position: relative;
  height: 45px;
  width: 45px;
}

#now-playing-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#media-bar {
  flex-grow: 1;
  display: flex;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#media-bar > .row {
  margin-left: 10px;
}

#seek-bar,
#seek-bar > input {
  width: 100%;
}

#seek-bar div {
  display: flex;
}

#seek-bar > div {
  justify-content: space-between;
}

button {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  cursor: pointer;
  background-color: #00000000;
  border: none;
}

button .icon {
  width: 25px;
  height: 25px;
  margin: 0;
}

button:hover * {
  color: var(--color-light);
  fill: var(--color-light);
}

input[type="range"] {
  cursor: w-resize;
}

/* Album Grid Styling */

main {
  position: relative;
  z-index: 0;
  width: 100%;
  height: calc(100% - 92px);
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#album-grid-bar {
  position: sticky;
  display: flex;
  top: 0;
  width: calc(100% - 26px);
  height: 30px;
  z-index: 1;
  padding: 0 13px;
  background-color: #1e1e1eae;
  background-blend-mode: darken;
  box-shadow: var(--box-shadow);
  border-bottom: thin solid var(--color-dark-dim);
}

#album-grid-bar > div:first-child {
  flex-grow: 1;
}

input[type="search"] {
  height: 100%;
  border: none;
  background-color: #00000000;
  font-family: "PlusJakartaSans";
  font-weight: var(--font-weight);
}

input[type="search"]::placeholder {
  color: var(--color-light);
}

input[type="search"]:focus {
  outline: none;
}

#album-grid-bar p {
  padding: 0 13px;
}

#album-grid {
  scroll-snap-type: y mandatory;
  overflow: auto;
  margin: -30px 0;
  padding: 30px 0;
}

.album-grid-row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  scroll-snap-align: start;
  padding: calc(var(--album-grid-gap) / 2) 0;
  gap: var(--album-grid-gap);
}

.album-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: start;
  width: var(--album-width);
}

.album-container > h1 {
  font-size: 18px;
  margin-top: 5px;
}

.album-container > h2 {
  font-size: 14px;
  font-style: italic;
  color: var(--color-light-dim);
}

.album-cover-image {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.album-cover-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: inherit;
}

/* Album Song List Styling */

.album-song-list {
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.album-song-list > div {
  width: 100%;
  margin: var(--album-grid-gap) 0;
  padding: var(--album-grid-gap) 4%;
  box-shadow: var(--box-shadow);
}

.album-song-list h1 {
  font-size: 18px;
}

.album-song-list h2 {
  font-size: 16px;
  color: var(--color-light-dim);
}

.album-song-list ol {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: var(--asl-template);
  grid-auto-columns: 49%;
  column-gap: 2%;
  overflow-x: auto;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  scroll-snap-type: x mandatory;
  padding: var(--album-grid-gap) 0;
}

.album-song-list ol > li {
  scroll-snap-align: start;
}

.album-song-list ol > li::marker {
  color: var(--color-light-dim);
}

.album-song-list ol > li::before {
  white-space: pre;
  content: "  ";
}

.album-song-list ol > li > span {
  float: right;
  font-variant-numeric: tabular-nums;
}
